<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My ChatApp</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <h3>All Chats</h3>
    <form method="GET" action="/chats/new" class="new-chat-form">
        <button class="btn">New Chat</button>
    </form>
    <% for(let chat of chats){ %>
        <div class="chat">
            <p>From : <%= chat.from %></p>
            <div class="msgbox">
                <p>Message : <%= chat.msg %></p>
            </div>
            <p class="receiver">Received By : <%= chat.to %></p>
            <!-- add a horizontal line here a light fading line -->
            <p class="dateTime"><%= chat.created_at.toString().split(" ")[4] %></p>
            <p class="dateTime"><%= chat.created_at.toString().split(" ").slice(0,4).join(" ") %></p>
        </div>
    <%}%>
</body>
</html>